/*? Atelier 2*/

* {
  margin : 0;
  padding: 0;
}

/*? Toute la page*/

.ctnr_at2 {
    background-color: #979996;
    width           : 100%;
    height          : 735px;
  }
  
  /*? Zone flèche retour*/

  .zone_retour {
    /*background-color: royalblue;*/
    width : 100%;
    height: 30px;
    margin-top: 15px;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
  
  /*? Zone Titre H1 + img boussole + instruction*/

  .zone_boussole_at2bis {
    /*background-color: black;*/
    width          : 100%;
    display        : flex;
    justify-content: right;
    align-items    : right;
    
  }
  
  .img_boussole_at2 {
   
    
    width        : 80px;
  }
.img_boussole_at2 path{
  fill: #4CBEDD;
}
  
  
  .zone_instruction_at2{
    color     : #D3D3D3;
    font-style: italic;
    font-size : 1.2em;
    text-align: center;
  }
  
  /*? Zone 1er slider + texte*/

  .zone_slider1_at2 {
    /*background-color: grey;*/
    width         : 100%;
    height        : 160px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }
  
  .txt_slider1_at2 {
    color      : white;
    font-weight: bold ;
    font-size  : 1.3em;
  }

  /* ! L'implémentation du slider commence ici*/

  /*? Zone multi-slider */

  .zone_slider2_at2 {
    /*background-color: blue;*/
    width : 100%;
    
  }

.zone_slider2_at2 h2 {
  font-weight  : bold;
  font-size    : 1.3em;
  margin-left: 20px;
  
  color        : white;
}

.multislider_at2 {
  /*background-color: brown;*/
  width          : 100%;
  
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.zone_slider2_at2 p {
  font-weight: bold;
  font-size  : 1.2em;
  color      : white;
}

/* ! L'implémentation des sliders commence ici*/


/*? Zone button next page */

.zone_button_next {
  /*background-color: brown;*/
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 50px;
}
/*? Zone pagination et button next page */

.zone_pagination_at2 
{
  /*background-color: blueviolet;*/
  width: 100%;
  height: 132px;
  
}

.zone_pag_at2
{
  /*background-color: chocolate;*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagination_at2
{
  /*background-color: bisque;*/
  width: 50%;
  display: flex;
 
  justify-content: space-around;
}

.page1
{
  background-color:#fff;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}

.page2
{
  background-color: #4CBEDD;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}


.zone_btn_at2
{
  /*background-color: darkcyan;*/
 
  flex-direction: row;
  display: flex;
  justify-content: content;
flex-direction: center;
  
  
}

.zone_button_next {
  /*background-color: brown;*/
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 40px;
}
