/*? Atelier 2*/

* {
  margin : 0;
  padding: 0;
}

/*? Toute la page*/

.ctnr_at2 {
    background-color: #979996;
    width           : 100%;
    height          : 1595px;
  }
  
  /*? Zone flèche retour*/

  .zone_retour {
    /*background-color: royalblue;*/
    width : 100%;
    height: 30px;
    margin: 15px 0 15px 0;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
  
  /*? Zone Titre H1 + img boussole + instruction*/

  .zone_titre_at2 {
    /*background-color: black;*/
    width          : 100%;
    height         : 200px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    
  }
  
  .titre1_at2 {
    text-align   : center;
    color        : white;
    font-size    : 1.73em;
    font-weight  : bold;
    margin-bottom: 50px;
  }
  
  .img_boussole_at2 {
    display: flex;
    flex-direction : column;
    justify-content: right;
    align-items    : right;
    margin-bottom: 30px;
    width        : 175px;
  }

  .img_boussole_at2 path
  {
    fill: #4CBEDD;
  }
  
  .instruction_at2 {
    color     : #D3D3D3;
    font-style: italic;
    font-size : 1.2em;
    text-align: center;
  }
  
  /*? Zone 1er slider + texte*/

  .zone_slider1_at2 {
    /*background-color: grey;*/
    width         : 100%;
    height        : 160px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }
  
  .txt_slider1_at2 {
    color      : white;
    font-weight: bold ;
    font-size  : 1.3em;
  }

  /* ! L'implémentation du slider commence ici*/

  /*? Zone multi-slider */

  .zone_slider2_at2 {
    /*background-color: blue;*/
    width : 100%;
    height: 850px;
  }

.zone_slider2_at2 h2 {
  font-weight  : bold;
  font-size    : 1.3em;
  text-align   : center;
  margin-bottom: 50px;
  color        : white;
}

.multislider_at2 {
  /*background-color: brown;*/
  width          : 100%;
  height         : 750px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.zone_slider2_at2 p {
  font-weight: bold;
  font-size  : 1.2em;
  color      : white;
}

/* ! L'implémentation des sliders commence ici*/


/*? Zone button next page */

.zone_button_next {
  /*background-color: brown;*/
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 50px;
}
