/*Atelier 2*/

/*Toute la page*/
.ctnr_at2 {
    background-color: red;
    width: 100%;
    height: 812px;
  }
  
  /*Zone flèche retour*/
  .zone_retour {
    background-color: royalblue;
    width: 100%;
    height: 30px;
    margin: 15px 0 0 0;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
  
  /*Zone Titre H1 + img boussole + instruction*/
  .zone_titre_at2 {
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titre1_at2 {
    text-align: center;
    color: white;
    font-size: 1.73em;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .img_boussole_at2 {
    margin-bottom: 50px;
  }
  
  .instruction_at2 {
    color: grey;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
  }
  
  /*Zone 1er slider + texte*/
  .zone_slider1_at2 {
    background-color: grey;
    width: 100%;
    height: 200px;
  }
  
  .txt_slider1_at2 {
    color: white;
    font-weight: bold ;
    font-size: 1.3em;
  }


/* ! L'implémentation du slider commence ici*/

