/* TODO : Activer les liens retour/suivant */
/* TODO : Implémenter les slider */
/* TODO : Vérifier les dimensions des boxs ( !! Avec le justify-content l.104 cela peut prendre une forme différente de celle souhaité sur les maquettes ) 
/* TODO : Une fois les sliders implémenter il suffira d'adapter la hauteur ligne 12 pour que la div du bouton soit en bas page */ 
/* ? Décommenter les background-color pour afficher les boxs */


/*? Atelier 2*/

* {
  margin : 0;
  padding: 0;
}

/*? Toute la page*/

.ctnr_at2 {
    background-color: #979996;
    width           : 100%;
    height          : 810px;
  }
  
  /*? Zone flèche retour*/

  .zone_retour {
    /*background-color: royalblue;*/
    width : 100%;
    height: 30px;
    margin: 5px 0 ;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
  
  /*? Zone Titre H1 + img boussole + instruction*/

  .zone_titre_at2 {
    /*background-color: black;*/
    width          : 100%;
    text-align: center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
   
  }
  
  .titre1_at2 {
    text-align   : center;
    color        : white;
    font-size    : 20px;
    font-weight  : bold;
    margin-bottom: 30px;
  }
  
  .img_boussole_at2 {
    margin-bottom: 30px;
    width        : 140px;
  }

  .img_boussole_at2 path
  {
    fill: #4CBEDD;
  }
  
  .instruction_at2 {
    color     : #D3D3D3;
    font-style: italic;
    font-size : 1.1em;
    text-align: center;
  }
  
  /*? Zone 1er slider + texte*/

  .zone_slider1_at2 {
    /*background-color: grey;*/
    width         : 100%;
   margin-bottom: 70px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }
  
  .txt_slider1_at2 {
    color      : white;
    font-weight: bold ;
    font-size  : 1.2em;
    margin-bottom: 40px;
  }

  /* ! L'implémentation du slider commence ici*/

  /*? Zone multi-slider */

  .zone_slider2_at2 {
    /*background-color: blue;*/
    width : 100%;
    height: 850px;
  }

.zone_slider2_at2 h2 {
  font-weight  : bold;
  font-size    : 1.3em;
  text-align   : center;
  margin-bottom: 50px;
  color        : white;
}

.multislider_at2 {
  /*background-color: brown;*/
  width          : 100%;
  height         : 750px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.zone_slider2_at2 p {
  font-weight: bold;
  font-size  : 1.2em;
  color      : white;
}

/* ! L'implémentation des sliders commence ici*/


/*? Zone pagination et button next page */

.zone_pagination_at2 
{
  /*background-color: blueviolet;*/
  width: 100%;
  height: 132px;
  
}

.zone_pag_at2
{
  /*background-color: chocolate;*/
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagination_at2
{
  /*background-color: bisque;*/
  width: 50%;
  display: flex;
 
  justify-content: space-around;
}

.page1
{
  background-color:#4CBEDD;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}

.page2
{
  background-color: #fff;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}


.zone_btn_at2
{
  /*background-color: darkcyan;*/
 
  flex-direction: row;
  display: flex;
  justify-content: content;
flex-direction: center;
  
  
}

.zone_button_next {
  /*background-color: brown;*/
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 40px;
}

/*Zonne curseur*/
.slider{
  margin-left: 10%;
}

#demo{
  margin-left: 47%;
}


.speaker{
  margin-left: 5%;
  position: absolute;
  width: 10%;
}


input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 80%;
  max-width: 200px;
  outline: none;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://gistcdn.githack.com/Wazlyy/3b52ea59e3165ae1431e4efbe80d693c/raw/b87c968e084595d76d555a8d52857b4b52eaac54/logo_cursor.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://gistcdn.githack.com/Wazlyy/3b52ea59e3165ae1431e4efbe80d693c/raw/b87c968e084595d76d555a8d52857b4b52eaac54/logo_cursor.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
  -webkit-appearance: none;
}

label {
  background: #eee;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  padding: 1px;
  font-family: Roboto, 'Helvetica Neue', Arial;
  font-size: 20px;
  width: 25px;
  text-align: center;
  color: #2968bb;
  font-weight: bold;
  content: '';
}