body {
  background-color: #979996;

}

input{
  text-align: center;
  margin-left: 25%;
}

.arrow2{
  width: 25%;
  margin-left: 38%;
}

.arrow {
  width: 5%;
}


.billet {
  width: 50%;
  margin-left: 25%;
}

.container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*Atelier 1 et rencontre avec entreprise*/
.atelier1 {
  margin-bottom: 5%;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
/*fin*/


/*A quel entrepreneur vous identifiez vous
        le plus ? Classer par ordre de
        préférence.*/
.ordre {
  margin-top: 5%;
  color: rgb(238, 238, 238);
  font-size: 15px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;

}

/*Fin*/


.rep_atelier4 {
  color: white;
  font-size: 20px;
}


.score {
  margin-top: 20px;
  border: 3px solid #4CBEDD;
  border-radius: 20px;
  width: 50%;
  font-size: 20px;
  height: 40px;
}


/*Fin/*