/*Atelier 2*/

* {
  margin: 0;
  padding: 0;
}

/*Toute la page*/
.ctnr_at2 {
    background-color: #979996;
    width: 100%;
    height: 812px;
  }
  
  /*Zone flèche retour*/
  .zone_retour {
    /*background-color: royalblue;*/
    width: 100%;
    height: 30px;
    margin: 15px 0 15px 0;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
  
  /*Zone Titre H1 + img boussole + instruction*/
  .zone_titre_at2 {
    /*background-color: black;*/
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .titre1_at2 {
    text-align: center;
    color: white;
    font-size: 1.73em;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .img_boussole_at2 {
    margin-bottom: 50px;
    width: 175px;
  }

  .img_boussole_at2 path
  {
    fill: #4CBEDD;
  }
  
  .instruction_at2 {
    color: #D3D3D3;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
  }
  
  /*Zone 1er slider + texte*/
  .zone_slider1_at2 {
    /*background-color: grey;*/
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .txt_slider1_at2 {
    color: white;
    font-weight: bold ;
    font-size: 1.3em;
  }


/* ! L'implémentation du slider commence ici*/


/* Zone pagination */

.zone_pagination_at2 
{
  /*background-color: blueviolet;*/
  width: 100%;
  height: 132px;
  
}

.zone_pag_at2
{
  /*background-color: chocolate;*/
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagination_at2
{
  /*background-color: bisque;*/
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page1
{
  background-color:#4CBEDD;
  border: none;
  border-radius: 30px;
  width: 60px;
  height: 15px;
}

.page2
{
  background-color: #fff;
  border: none;
  border-radius: 30px;
  width: 60px;
  height: 15px;
}

.zone_btn_at2
{
  /*background-color: darkcyan;*/
  height: 132px;
  display: flex;
  justify-content: content;
}

.bouton_next_at2
{
  width: 60px;
}

/* TODO : Activer les liens retour/suivant */
/* TODO : Implémenter le slider */
/* TODO : Responsive design */ 


