body {
  background-color: #979996;

}

.arrow2{
  width: 25%;
  margin-left: 38%;
}

.arrow {
  width: 5%;
}

.arrow path{
  fill: white;
}

.billet {
  width: 50%;
  margin-left: 25%;
}

.container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*Atelier 1 et rencontre avec entreprise*/
.atelier1 {
  margin-bottom: 5%;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
/*fin*/


/*A quel entrepreneur vous identifiez vous
        le plus ? Classer par ordre de
        préférence.*/
.ordre {
  margin-top: 5%;
  color: rgb(238, 238, 238);
  font-size: 15px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;

}
/*Fin*/

.rep_atelier4 {
  color: white;
  font-size: 20px;
}

.score {
  text-align: center;
  margin-left: 25%;
  margin-top: 20px;
  border: 3px solid #4CBEDD;
  border-radius: 20px;
  width: 50%;
  font-size: 20px;
  height: 40px;
}

/*Fin*/
.slider{
  margin-left: 10%;
}

#demo{
  margin-left: 47%;
}

.speaker{
  margin-left: 5%;
  position: absolute;
  width: 10%;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 80%;
  max-width: 200px;
  outline: none;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://svgshare.com/i/J7J.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://svgshare.com/i/J7J.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  cursor: pointer;
  -webkit-appearance: none;
}

label {
  background: #eee;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  padding: 1px;
  font-family: Roboto, 'Helvetica Neue', Arial;
  font-size: 20px;
  width: 25px;
  text-align: center;
  color: #2968bb;
  font-weight: bold;
  content: '';
}
