/*? Atelier 2*/

body{
  background-color: #979996;
}

* {
  margin: 0;
  padding: 0;
}

/*? Toute la page*/

.ctnr_at2 {
  width: 100%;
}

/*? Zone flèche retour*/

.zone_retour {
  /*background-color: royalblue;*/
  width: 100%;
  height: 10px;
  margin: 5px 0;
}

/*? Zone Titre H1 + img boussole + instruction*/

.zone_boussole_at2bis {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.img_boussole_at2 {
  width: 80px;
  justify-content: right;
  align-items: flex-end;
  position: fixed;
  top: 10px;
}

.img_boussole_at2 path {
  fill: #4CBEDD;
}

.zone_instruction_at2 {
  margin-top: 20%;
  color: #D3D3D3;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

/*? Zone 1er slider + texte*/

.zone_slider1_at2 {
  /*background-color: grey;*/
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt_slider1_at2 {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

/* ! L'implémentation du slider commence ici*/

/*? Zone multi-slider */

.zone_slider2_at2 {
  /*background-color: blue;*/
  width: 100%;
}

.zone_slider2_at2 h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 20px;
  color: white;
}

.multislider_at2 {
  /*background-color: brown;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zone_slider2_at2 p {
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

/* ! L'implémentation des sliders commence ici*/


/*? Zone button next page */

.zone_button_next {
  /*background-color: brown;*/
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 60px;
}

/*? Zone pagination et button next page */

.zone_pagination_at2 {
  width: 100%;
  height: 132px;
}

.zone_pag_at2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10%;
}

.pagination_at2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 7%;
}

.page1 {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}

.page2 {
  background-color: #4CBEDD;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}


.zone_btn_at2 {
  /*background-color: darkcyan;*/

  flex-direction: row;
  display: flex;
  justify-content: content;
  flex-direction: center;


}

.zone_button_next {
  /*background-color: brown;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button_next_at2 {
  width: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 80%;
  max-width: 200px;
  outline: none;
  margin-right: 30px;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
  border: 0;
  outline: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 30px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://gistcdn.githack.com/Wazlyy/3b52ea59e3165ae1431e4efbe80d693c/raw/b87c968e084595d76d555a8d52857b4b52eaac54/logo_cursor.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

input[type="range"]::-moz-range-progress {
  height: 20px;
  background: #4685d7;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  border: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url("https://gistcdn.githack.com/Wazlyy/3b52ea59e3165ae1431e4efbe80d693c/raw/b87c968e084595d76d555a8d52857b4b52eaac54/logo_cursor.svg");
  background-position: 0 0;
  background-size: 52px 50px;
  cursor: pointer;
  margin-top: -15px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-position: 100% 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-appearance: none;
}

label {
  background: #eee;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1px;
  font-family: Roboto, 'Helvetica Neue', Arial;
  font-size: 20px;
  width: 25px;
  text-align: center;
  color: #2968bb;
  font-weight: bold;
  content: '';
}

.number {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  font-family: "Saiyan";
  font-weight: bold;
}

.slider{
  margin-left: 10%;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.range_slider {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.slidecontainer p {
  font-size: 10px;
  color: #4CBEDD;
}