@font-face {
    font-family: "Saiyan";
    src: url("../font/Saiyan-Sans.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    background-color: #979996;
}
.contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titre1 {
    margin-top: 15px;
    font-size: 100px;
    font-family: "Saiyan";
}

.titre2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}
.zone_btn1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
   
    
}

.zone_btn2 {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


.btn_connexion {
    background-color:  #4CBEDD;
    border-radius: 30px;
    border: solid 2px #4CBEDD;
    width: 80%;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
   

}
.btn_inscription{
    background-color:  transparent;
    
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
  

}

.direction{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 20px;
  }
  .util{
font-size: 20px;

  }