body{
  background-color:#979996;
  
}
.container-fluid{
  display: flex;
  align-items: center; 
  flex-direction: column;


}
.demarrer{
  margin-top: 10%;
  color: white;
  font-size: 25px;
  text-align: center;
}

.home{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
width: 60px;
}

.connect{
  margin-top: 20px;
  color:white;
  font-size: 20px;
  text-align: center;
}

.email{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border:3px solid #4CBEDD;
  border-radius: 20px;
  width:110% ;
  font-size: 20px;
  height: 40px;
}
.password{ 
  margin-top: 20px;
  border:3px solid #4CBEDD;
  border-radius: 20px;
  width:110% ;
  font-size: 20px;
  height: 40px;
}

.boutonfleche1{
  display: flex;
  align-items: center;
  flex-direction: center;
  width: 60px;
  margin-top: 40px;
 }