body {
  background-color: #979996;
}

input {
  text-align: center;
  color: white;
}

.container-fluid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.demarrer {
  margin-top: 10%;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.home {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.connect {
  margin-top: 40px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.email {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: 2px solid #4CBEDD;
  border-radius: 25px;
  width: 100%;
  font-weight: normal;
  font-style: italic;
  color: aliceblue;
  font-size: 20px;
  height: 50px;
  background-color: transparent;
  text-align: 2em;
}

.password {
  margin-top: 20px;
  border: 2px solid #4CBEDD;
  border-radius: 25px;
  width: 100%;
  font-size: 20px;
  height: 50px;
  background-color: transparent;
  font-weight: normal;
  font-style: italic;
  color: aliceblue;
  margin-bottom: 30px;
}

.boutonfleche1 {
  display: flex;
  align-items: center;
  flex-direction: center;
  width: 80px;
  margin-top: 10%;
}

.arrow {
  width: 100%;
}

.zone_retour {
  width : 100%;
  height: 10px;
  margin: 5px 0 ;
}

.container4 {
  display       : flex;
  align-items   : center;
  flex-direction: column;
}