@font-face {
    font-family: "Saiyan";
    src: url("../font/Saiyan-Sans.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    background-color: #4cbedd;
}

h1,
h2 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_declic {
    width: 100%;
    margin-top: 10px;
}

.titre1 {
    margin-top: 15px;
    font-size: 100px;
    font-family: "Saiyan";
}

.titre2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.zone_btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.btn_inscription,
.btn_connexion {
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
    width: 130px;
    height: 40px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 85px;

}

.partenaires {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.partenaire1{
    width: 15%;
}

.partenaire2{
    height: 25%;
}

.partenaire4 {
    margin-right: 5px;
}
