/*Connexion*/


/*body {
    background-color: #979996;
  }*/


* {
  margin : 0;
  padding: 0;
}

input{
	text-align: center;
}

.container3{
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.newCompte {
    margin-top: 10%;
    color     : white;
    font-size : 20px;
}

.home {
    margin-top: 25px;
}

.telechargement {
    color     : white;
    font-size : 15px;
    text-align: center;
}


.nominsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.prenominsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.emailinsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.passwordinsc{ 
    margin-top   : 20px;
    border       : 3px solid #4CBEDD;
    border-radius: 20px;
    width        : 90% ;
    font-size    : 20px;
    height       : 40px;
}

.button__holder {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-left: 25px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*  background-color: #1a1a1a;*/
}

  .button__holder:after {
    content : "";
    position: absolute;
    z-index : 0;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
  /*  background: rgba(26, 26, 26, 0.7);*/
  }

  .button__holder  {
    margin-right: 1em;
    text-align  : center;
    color       : rgb(59, 93, 138);
  }
  
  .plus {
    position          : relative;
    z-index           : 1;
    width             : 80px;
    height            : 80px;
    color             : #1a1a1a;
    background        : #4CBEDD;
    border-radius     : 50%;
    border            : none;
    -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition        : box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition        : box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition        : box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  }

  .plus:after {
    content    : "->";
    font-size  : 2.5em;
    line-height: 1.1em;
  }

  .plus:hover {
    -webkit-transform: rotate(45deg);
    transform        : rotate(45deg);
    box-shadow       : 0 0 1px 15px rgba(59, 102, 138, 0.4), 0 0 1px 30px rgba(59, 109, 138, 0.1), 0 0 1px 45px rgba(59, 91, 138, 0.1);
  }



/*Atelier 1*/
  
.container4 {
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

/*Atelier 1 et rencontre avec entreprise*/
.atelier1 {
    margin-top : 10%;
    color      : white;
    font-size  : 15px;
    text-align : center;
    font-family: Helvetica, sans-serif;
}
/*Fin/*

/*A quel entrepreneur vous identifiez vous
        le plus ? Classer par ordre de
        préférence.*/
.ordre {
    color      : rgb(238, 238, 238);
    font-size  : 15px;
    text-align : center;
    font-family: Helvetica, sans-serif;
    font-style : italic;
    font-weight: normal;
}

/*Fin*/

/*Pour les 5 entreprises*/
.entreprise1 {
  margin-bottom   : 12px;
  color           : white;
  background-color: #4CBEDD;
  border          : 3px solid
#4CBEDD;
border-radius: 20px;
width        : 90%;
font-size    : 15px;
height       : 40px;
font-family  : Helvetica, sans-serif;
font-weight  : bold;
}
.entreprise2 {
  margin-bottom   : 12px;
  color           : white;
  background-color: #4CBEDD;
  border          : 3px solid
#4CBEDD;
border-radius: 20px;
width        : 90%;
font-size    : 15px;
height       : 40px;
font-family  : Helvetica, sans-serif;
font-weight  : bold;
}

.entreprise3 {
  margin-bottom   : 12px;
  color           : white;
  background-color: #4CBEDD;
  border          : 3px solid
#4CBEDD;
border-radius: 20px;
width        : 90%;
font-size    : 15px;
height       : 40px;
font-family  : Helvetica, sans-serif;
font-weight  : bold;
}

.entreprise4 {
  margin-bottom   : 12px;
  color           : white;
  background-color: #4CBEDD;
  border          : 3px solid
#4CBEDD;
border-radius: 20px;
width        : 90%;
font-size    : 15px;
height       : 40px;
font-family  : Helvetica, sans-serif;
font-weight  : bold;
}

.entreprise5 {
  margin-bottom   : 12px;
  color           : white;
  background-color: #4CBEDD;
  border          : 3px solid#4CBEDD;
  border-radius   : 20px;
  width           : 90%;
  height          : 40px;
  font-family     : Helvetica, sans-serif;
  font-weight     : bold;
}
/*Fin boutons entreprise*/

/*Bouton suivant*/

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newCompte {
    margin-top: 10%;
    color     : white;
    font-size : 20px;
}

.home {
    margin-top: 25px;
}

.telechargement {
    color     : white;
    font-size : 15px;
    text-align: center;
}


.nominsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.prenominsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.emailinsc {
  margin-top   : 20px;
  border       : 3px solid #4CBEDD;
  border-radius: 20px;
  width        : 90% ;
  font-size    : 20px;
  height       : 40px;
}

.passwordinsc { 
    margin-top   : 20px;
    border       : 3px solid #4CBEDD;
    border-radius: 20px;
    width        : 90% ;
    font-size    : 20px;
    height       : 40px;
}


.container2 {
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.demarrer {
    margin-top: 10%;
    color     : white;
    font-size : 25px;
}

.home {
    margin-top: 25px;
}

.connect {
    color     : white;
    font-size : 25px;
    text-align: center;
}

.email {
    margin-top   : 20px;
    border       : 3px solid #4CBEDD;
    border-radius: 20px;
    width        : 90% ;
    font-size    : 20px;
    height       : 40px;
}

.password { 
    margin-top   : 20px;
    border       : 3px solid #4CBEDD;
    border-radius: 20px;
    width        : 90% ;
    font-size    : 20px;
    height       : 40px;
}

 
  .plus:hover {
    -webkit-transform: rotate(45deg);
    transform        : rotate(45deg);
    box-shadow       : 0 0 1px 15px rgba(59, 102, 138, 0.4), 0 0 1px 30px rgba(59, 109, 138, 0.1), 0 0 1px 45px rgba(59, 91, 138, 0.1);
  }

  /*resultat 1*/
  .container5{
    display: flex;
    align-items: center; 
    flex-direction: column;


}
.resultat{
    margin-top: 10%;
    color: white;
    font-size: 20px;
}

.logo3{
    margin-top: 30%;
}

.telechargement{
    color:white;
    font-size: 15px;
    text-align: center;
}
.texte{
  color: #daddd9;
  font-size: 15px;
  margin-left: 9%;
  margin-top: 10%;
  font-family:  Helvetica, sans-serif;
  font-style:italic ;
  font-weight: normal;

}


  /*Atelier 2*/

/*Toute la page*/
.ctnr_at2 {
  background-color: red;
  width: 100%;
  height: 812px;
}

/*Zone flèche retour*/
.zone_retour {
  background-color: royalblue;
  width: 100%;
  height: 30px;
  margin: 15px 0 0 0;
}

.fleche_retour {
  margin-left: 15px;
}

/*Zone Titre H1 + img boussole + instruction*/
.zone_titre_at2 {
  background-color: black;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre1_at2 {
  text-align: center;
  color: white;
  font-size: 1.73em;
  font-weight: bold;
  margin-bottom: 50px;
}

.img_boussole_at2 {
  margin-bottom: 50px;
}

.instruction_at2 {
  color: grey;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

/*Zone 1er slider + texte*/
.zone_slider1_at2 {
  background-color: grey;
  width: 100%;
  height: 150px;
}

.txt_slider1_at2 {
  color: white;
  font-weight: bold ;
  font-size: 1.6em;
}
