@font-face {
    font-family: "Saiyan";
    src: url("../font/Saiyan-Sans.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 500px;
    background-color: #bbecf8;
}

h1{

}
h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    
}
h3{
    text-align: center;
    margin-bottom: 85px;
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
}

.container-fluid{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_declic {
    width: 80%;
    margin-top: 50px;
    
}

.titre1 {
    margin-top: 15px;
    font-size: 90px;
    font-family: "Saiyan";
    margin-bottom: -20px;

}

.titre2 {
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 30px;
}

.partenaires {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.partenaire1{
    width: 15%;
}

.partenaire2{
    height: 30%;
}

.partenaire3{
    width: 15%;
}

.partenaire4 {
    width: 15%;
    margin-right: 5px;
}

.partenaires {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.partenaire1{
    width: 15%;
}

.partenaire2{
    height: 30%;
}

.partenaire3{
    width: 15%;
}

.partenaire4 {
    width: 15%;
    margin-right: 5px;
}