body{
    background-color:#979996;
    
}
.container7{
    display: flex;
    align-items: right; 
    flex-direction: column;
justify-content: right;
}

.res2{
    margin-top: 10%;
    color: white;
    font-size: 20px;
}

.flag2{
 display: flex;
 align-items: right;
 justify-content: right;
}

.imgatelier {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ok{
 
  border: 2px black solid ;
  height: 90px;
  width: 70%;
}

.telechargement{
    color:white;
    font-size: 15px;
    text-align: center;
}

.texte{
  color: #daddd9;
  font-size: 15px;
  margin-left: 9%;
  margin-top: 10%;
  font-family:  Helvetica, sans-serif;
  font-style:italic ;
  font-weight: normal;

}
.slider{
	background: url('../') -25px -25px;
	height: 60px;
	position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
}

.slider > .emptyprogress{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
    width: 60%;
    

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .progress{
	background: #14aaf6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .indicator{
	background: url('../img/drapeau.png') repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -30px;
	position: absolute;
    width:60px;
    display: flex;
}

.info, .info> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info{
	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
	width: auto;
}

.info> label > input{
	border: none;
	font-size: 20px;
	width: 250px;
}
/*==============================*/
/* partie commune               */
/*==============================*/
input[type=range].custom-slider.custom-slider-bullet {
    height: 2em;
    color: #FFF;
    background: transparent;
    background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 25%;
  }
  /*==============================*/
  /* le curseur                   */
  /*==============================*/
  input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
    width: 2em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background-image: linear-gradient(#888, #FFF) content-box,          /* le centre */
                linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
  }
  input[type=range].custom-slider.custom-slider-bullet::-moz-range-thumb {
    width: 2em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: url('../img/drapeau.png')   /* le bord */
  }
  input[type=range].custom-slider.custom-slider-bullet::-ms-thumb {
    width: 2em;
    padding: 0.25em;                                              /* largeur du bord */
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: url('../img/drapeau.png')   /* le bord */
  }

