/*resultat 1*/
body {
    background-color: #979996;
}

* {
    margin : 0;
    padding: 0;
  }

.container5{
    display: flex;
    align-items: center; 
    flex-direction: column;


}
.resultat{
    margin-top: 10%;
    color: white;
    font-size: 20px;
}

.logo3{
    margin-top: 30%;
}

.telechargement{
    color:white;
    font-size: 15px;
    text-align: center;
}
.texte{
  color: #daddd9;
  font-size: 15px;
  margin-left: 9%;
  margin-top: 10%;
  font-family:  Helvetica, sans-serif;
  font-style:italic ;
  font-weight: normal;

}

.boutonfleche1{
        display: flex;
        justify-content: right;
        align-items: right;
        flex-direction: column;
        width: 10%;
        margin-left: 85%;
        margin-top: 20%;
}


  