/*resultat 1*/
body {
    background-color: #979996;
}

* {
    margin : 0;
    padding: 0;
  }

  /*? Zone flèche retour*/

  .zone_retour {
    /*background-color: royalblue;*/
    width : 100%;
    height: 30px;
    margin: 15px 0 ;
  }
  
  .fleche_retour {
    margin-left: 15px;
  }
.container5{
    display: flex;
    align-items: center; 
    flex-direction: column;


}
.resultat{
    margin-top: 10%;
    color: white;
    font-size: 20px;
}

.logo3{
    margin-top: 30%;
}

.telechargement{
    color:white;
    font-size: 15px;
    text-align: center;
}
.texte{
  color: #daddd9;
  font-size: 15px;
  margin-left: 9%;
  margin-top: 10%;
  font-family:  Helvetica, sans-serif;
  font-style:italic ;
  font-weight: normal;

}

.zone_pagination_at2 
{
  /*background-color: blueviolet;*/
  width: 100%;
  height: 132px;
  
}

.zone_pag_at2
{
  /*background-color: chocolate;*/
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pagination_at2
{
  /*background-color: bisque;*/
  width: 50%;
  display: flex;
 
  justify-content: space-around;
}

.page1
{
  background-color:#4CBEDD;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}

.page2
{
  background-color: #fff;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}
.page3
{
  background-color: #fff;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 10px;
}

.zone_btn_at2
{
  /*background-color: darkcyan;*/
 
  flex-direction: row;
  display: flex;
  justify-content: content;
flex-direction: center;
  
  
}

.bouton_next_at2
{
width: 40px;
}



  