/////////////////
// Page index //
////////////////


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Saiyan";
    src: url("../font/Saiyan-Sans.ttf") format("truetype");
}

body {
    background-color: #4cbedd;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_declic {
    width: 95%;
    margin-top: 120px;
}

.titre1 {
    margin-top: 15px;
    font-size: 100px;
    font-family: "Saiyan";
}

.titre2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.zone_btn {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: auto;
}

.btn_inscription,
.btn_connexion {
    background-color: transparent;
    border-radius: 20px;
    border: solid 2px white;
    width: 130px;
    height: 40px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 85px;
    
}

.partenaires {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 145px;
}

.partenaire1,
.partenaire2,
.partenaire3,
.partenaire4 {
    width: 25%;
    height: 70%;
}


////////////
// Connexion //
///////////////

body{
    background-color:#979996;
    
}
.container3{
    display: flex;
    align-items: center; 
    flex-direction: column;


}
.newCompte{
    margin-top: 10%;
    color: white;
    font-size: 20px;
}

.home{
    margin-top: 25px;
}

.telechargement{
    color:white;
    font-size: 15px;
    text-align: center;
}


.nominsc{
  margin-top: 20px;
  border:3px solid #4CBEDD;
  border-radius: 20px;
  width:90% ;
  font-size: 20px;
  height: 40px;
}
.prenominsc{
  margin-top: 20px;
  border:3px solid #4CBEDD;
  border-radius: 20px;
  width:90% ;
  font-size: 20px;
  height: 40px;
}
.emailinsc{
  margin-top: 20px;
  border:3px solid #4CBEDD;
  border-radius: 20px;
  width:90% ;
  font-size: 20px;
  height: 40px;
}
.passwordinsc{ 
    margin-top: 20px;
    border:3px solid #4CBEDD;
    border-radius: 20px;
    width:90% ;
    font-size: 20px;
    height: 40px;
}

.button__holder {
    position: relative;
    width: 100%;
      margin-top: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  /*  background-color: #1a1a1a;*/
  }
  .button__holder:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
  /*  background: rgba(26, 26, 26, 0.7);*/
  }
  .button__holder  {
    margin-right: 1em;
    text-align: center;
    color: rgb(59, 93, 138);
  }
  
  .plus {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    color: #1a1a1a;
    background: #4CBEDD;
    border-radius: 50%;
    border: none;
    -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  }
  .plus:after {
    content: "->";
    font-size: 2.5em;
    line-height: 1.1em;
  }
  .plus:hover {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 0 1px 15px rgba(59, 102, 138, 0.4), 0 0 1px 30px rgba(59, 109, 138, 0.1), 0 0 1px 45px rgba(59, 91, 138, 0.1);
  }

/////////////
// Atelier 2 //
///////////////



